<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | ShopSample - Backoffice</title>

    <!-- Backoffice CSS -->
    @Styles.Render("~/bundles/BackofficeCSS")
    <!-- Backoffice CUSTOM CSS -->
    @Styles.Render("~/bundles/BackofficeCustomCSS")
    <!-- Backoffice Modernizr -->
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="sample-normal-body">
        @Html.Partial("Extra/_NavBar")
        @Html.Partial("Extra/_SideBar")

        <div class="container body-content">
            @RenderBody()
        </div>
    </div>

    <!-- Backoffice - JS-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Backoffice - CustomJS-->
    @Scripts.Render("~/bundles/BackofficeCustomJS")
    @RenderSection("scripts", required: false)

</body>
</html>